.gradle
GuideRESTfulServer/.idea/*
GuideRESTfulServer/.idea
GuideRESTfulServer/.gradle/*
GuideRESTfulServer/.gradle
GuideRESTfulServer/build/*
GuideRESTfulServer/build

GuideRESTfulClient/.idea/*
GuideRESTfulClient/.idea
GuideRESTfulClient/.gradle/*
GuideRESTfulClient/.gradle
GuideRESTfulClient/build/*
GuideRESTfulClient/build
